@using System;
@using WorldCup.Models

@{
    ViewData["Title"] = "Inicio";
    var Pais= new List<string>();
    var Grupos= new List<string>();
    foreach (var each in ViewBag.Times){  
        Pais.Add(@each.Nome);
    }
    for (int i=0; i < 32; i+=1){
        Grupos.Add(Pais[i]);
    }
}
<section class="jubotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Bom dia, bem vindo a Copa do Mundo!</h1>
        <p>Os times que participaram do torneio estao abaixo. Porfavor click no botao comecar o torneio.</p>
        <h2>Equipes: </h2>
        <div class="row bg-white border box-shadow align-left">
            @foreach (var each in Grupos)
            {   
                <div class="col-2 text-left">
                    @each
                </div>
            }
        </div>
    </div>

</section>